<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Product</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <script defer src="{% get_static_prefix %}script/slider.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
</head>

<body class="body">

    <div class="container">

    {#це карусель#}
        <div class="itcss">
            <div class="itcss__wrapper">
                <div class="itcss__items">
                    {% for img in product.image.all %}
                        <div class="itcss__item">
                            <div style="height: auto">
                                <img src="{% get_media_prefix %}{{ img }}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <a class="itcss__control itcss__control_prev" href="#" role="button" data-slide="prev"></a>
            <a class="itcss__control itcss__control_next" href="#" role="button" data-slide="next"></a>
        </div>

        <div class="info-block">

        {#це опис#}
            <div class="discription">
                <h1>Характеристики:</h1>
                {% for letter in product.discription %}
                    {% if letter == "/" %}
                         <br>
                        {% else %}
                            <span>{{ letter }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        
            {#це відео#}
            <div>
                <iframe width="560" height="315" src="{{ product.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

        </div>
    </div>
    
{# це кнопка купівлі #}
<form id="myForm" action="{% url "add_to_cart" %}" method="post" class="form">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}"/>
    <input type="hidden" name="redirect_to" value="/product/{{ product.id }}"/>


    <button type="submit" onclick="alert('Додано')" class="button">
        <div class="price">
            <p>{{ product.price }} грн.</p>
            <img src="{% get_media_prefix %}add-to-cart.png" class="icon"></img>
        </div>
    </button>
</form>
<script>
    
</script>

</body>
</html>
