<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/enter_forms.css' %}"></link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
</head>
<body class="body">
    <form method="post" enctype="multipart/form-data" class="form">
        <img src="{% get_media_prefix %}user.png" class="icon">
        <h1>Реєстрація</h1>
        {% csrf_token %}
        {{ form }}
        <a href="{% url 'auth' %}" class="link">У вже є аккаунт?</a>
        <button type="submit" class="button">Зареєструватись</button>
    </form>
</body>
</html>